.error{
    color: greenyellow;
}

html{
    background-color: black;
    
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    height: 100%;
}
.body{
    background-color: crimson;
    margin-top: auto;
    margin-bottom: auto;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    box-shadow: 0 0 10em crimson;
}

.submitbtn, .textbox{
    font-size: medium;
    border-radius: 1em;
    border: 0px;
    background-color: transparent;
    color: white;
    transition: .5s;
    margin: 1em;
}

.submitbtn:hover{
    box-shadow: 0 0 1em white;
    padding: 1em;
    transition: .5s;
}

::placeholder{
    color: rgb(93, 12, 28);
    padding: 1em;
    size: 1em;
}

.textbox {
    backdrop-filter: blur(10px);
    width: fit-content;
    box-shadow: 0 0 1em rgb(255, 21, 68);
}

a{
    color: white;
    text-decoration: None;
    transition: .5s;
}

a:hover{
    text-shadow: 0px 0px 10px white;
    transition: .5s;
}