{% extends 'root.html'%}
{% block content%} 
<form class="body" action="" method="POST">
    <h3>Create a Random Chatacter!</h3>
    {%csrf_token%}
    <input class="textbox" placeholder="{{form.name.label}}" value="{{random_char.name}}" {{form.name}}
    <input class="textbox" placeholder="{{form.origin.label}}" value="{{random_char.origin}}" {{form.origin}}
    <input class="textbox" placeholder="{{form.powers.label}}" value="{{random_char.powers}}" {{form.powers}}
    <input class="textbox" placeholder="{{form.occupation.label}}" value="{{random_char.occupation}}" {{form.occupation}}
    <input class="textbox" placeholder="{{form.ethnicity.label}}" value="{{random_char.ethnicity}}" {{form.ethnicity}}
    <input class="submitbtn" type="submit" name="create chracter" value="Create"><br>
    <a href="/">back</a>
    
</form>
{% endblock%}
