{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <title>Root</title>
</head>
<body>
    <div class="body">
        <h1>Character Creater</h1>
       
        <span>Hewwo {{request.user}}, you're logged in!<a href="{% url 'logout' %}">logout</a></span>
        <a href="/creating">Create Character</a><a href="/randomize">Randomize Character</a>
        
    </div>
    
    {%for character in all%}
    <div class="body">
        <p>{{character.id}} -- <strong>{{character.name}}</strong> the {{character.ethnicity}} {{character.occupation}} from {{character.origin}}. Abilities: {{character.powers}}</p>
        <a href="{% url 'update_char' character.id %}">Update</a> 
        <a class="del" href="{% url 'delete_char' character.id %}">Delete</a> 
    </div>
    {%endfor%} 
    {% block content%}
    {%endblock%}
   
</body>
</html>
  