{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <title>Root</title>
</head>
<body>
    <h1>Character Creater</h1>
    {% block content%}
    <span>Hewwo {{request.user}}, you're logged in!<a href="{% url 'logout' %}">logout</a></span>
    <a href="/creating">create character</a>
    {%for character in all%}
    <p>{{character.id}} -- {{character.name}} the {{character.ethnicity}} {{character.occupation}} from {{character.origin}}. Abilities: {{character.powers}}</p>
        
    {%endfor%}
    {%endblock%}
</body>
</html>
  