<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>root</title>
</head>
<body>
    {% comment %} <a href="/"><button>root</button></a>
    <a href="/near-hundred/"><button>near-hundred</button></a>
    <a href="/string-splosion/"><button>string-splosion</button></a>
    <a href="/cat-dog/"><button>cat-dog</button></a>
    <a href="/lone-sum/"><button>lone-sum</button></a> {% endcomment %}
    <h1>Auth</h1>
    
</body>
</html>
